.waitingText {
  padding-top: 180px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer {
  display: block;
  height: 200px;
  width: 200px;
  line-height: 200px;
  -moz-border-radius: 100px; /* or 50% */
  border-radius: 100px; /* or 50% */
  background-color: black;
  color: white;
  text-align: center;
  margin: auto;
}
